	@font-face {
		font-family: 'FranklinGot';
		src: url('../fonts/framd.eot');
		src: local('☺'), url('../fonts/framd.woff') format('woff'), url('../fonts/framd.ttf') format('truetype'), url('fonts/framd.svg') format('svg');
		font-weight: normal;
		font-style: normal;
	}
	body{
		font-family: Arial,sans-serif;
	}
	.preloader {

		position: fixed;
		
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		
		background: #e0e0e0;
		
		z-index: 1001;
	}
	.preloader__row {
		position: relative;
		top: 50%;
		left: 50%;
		width: 70px;
		height: 70px;
		margin-top: -35px;
		margin-left: -35px;
		text-align: center;
		animation: preloader-rotate 2s infinite linear;
	}

	.preloader__item {
		position: absolute;
		display: inline-block;
		top: 0;
		background-color: #337ab7;
		border-radius: 100%;
		width: 35px;
		height: 35px;
		animation: preloader-bounce 2s infinite ease-in-out;
	}

	.preloader__item:last-child {
		top: auto;
		bottom: 0;
		animation-delay:-1s;
	}

	@keyframes preloader-rotate {
		100% {
			transform: rotate(360deg);
		}
	}

	@keyframes preloader-bounce {

		0%,
		100% {
			transform: scale(0);
		}

		50% {
			transform: scale(1);
		}
	}

	.loaded_hiding .preloader {
		transition: 7s opacity;
		opacity: 1;
	}

	.loaded .preloader {
		display: none;
	}*/

	nav{
		background:white;
		width: 100%;
		height: 60px;
		position: fixed;
		z-index: 10;	
		
	}
	

	.logo{
		color: #000;
		font-size: 35px;
		font-weight: 400;
		line-height: 60px;
		-webkit-animation: comming 5s ease forwards;
		-o-animation: comming 5s ease forwards;
		animation: comming 5s ease forwards;
		font-family: FranklinGot, sans-erif;
		font-style: oblique;
		


	}
	main{
		width: 100%;
		height: 100%;		
	}
	ul{
		display: flex;
		
		
	}

	.nav__link{
		color: #fff;
	}
	.menu li{
		line-height: 60px;
		color: #000;
		font-weight: 500;
		margin-right: 40px;
		font-style: oblique;
		font-size: 18px;
		text-transform: uppercase;
		-webkit-animation: topshift 0.4s ease forwards;
		-o-animation: topshift 0.4s ease forwards;
		animation: topshift	0.4s ease forwards;
		opacity: 0;	
	}
	.menu li a{
		transition: all 0.2s;
		transform: scale(1);
		display: inline-block;
		text-decoration: none;
	}
	.menu li a:visited{
		color: #000;
	}
	.menu li a:hover{
		color: orange;

	}
	.menu li a:active{
		transform: scale(1.1);
	}
	.main{
		width: 100%;
		height: 100%;
		background:url(../img/3.jpg);
	}

	.title__container{
		width: 100%;
		text-align: center;
		opacity: 0;
		-webkit-animation: titlemove 1.2s ease forwards;
		-o-animation: titlemove 1.2s ease forwards;
		animation: titlemove 1.2s ease forwards;
		-webkit-animation-delay: 2.6s;
		-o-animation-delay: 2.6s;
		animation-delay: 2.6s;

	}
	.title__container h1{
		font-family: Arial, sans-serif;
		font-size: 72px;
		font-weight: 800;
		color:#000;
		-webkit-text-stroke: 2px #fff;
		font-style: oblique;
	}

	.title__container h4{
		padding: 180px 0px 0px 0px;
		font-size: 36px;
		color: #000;
		-webkit-text-stroke: 1px #fff;
		font-weight: 800;
		font-style: oblique;


	}
	.custom-ccs3{
		font-size: 60px;
		color: #000;
		-webkit-text-stroke: 1px #fff;


	}


	.title__container input{
		height: 40px;
		text-align: center;
		border: 2px solid #fff;
		background: none;
		border-radius: 5px;
		color: #fff;
		font-size: 20px;
		padding: 0px 16px;
		margin: 58px 14px 0px 14px;
	}

	.title__container input{
		transition: all 0.2s;
		transform: scale(1);

	}
	.title__container input:hover{
		background: #FFF;
		color: #000;	
	}
	.title__container input:active{
		transform: scale(1.1);
	}
	@keyframes comming{
		from{
			opacity: 0;
		}
		to{
			opacity: 1;
		}
	}
	@keyframes topshift{
		from{
			opacity: 0;
			margin-top: -80px;	
		}
		to{
			opacity: 1;
			margin-top: 0px;			
		}
	}
	.menu li:nth-child(1){
		animation-delay: 1.2s;
	}
	.menu li:nth-child(2){
		animation-delay: 1.6s;
	}
	.menu li:nth-child(3){
		animation-delay: 2s;
	}
	.menu li:nth-child(4){
		animation-delay: 2.4s;
	}
	.menu li:nth-child(5){
		animation-delay: 2.8s;
	}
	.menu li:nth-child(6){
		animation-delay: 3.2s;
	}
	@keyframes titlemove{
		from{
			opacity: 0;
			margin-left: -500px;
		}
		to{
			opacity: 1;
			margin-left: 0px;
		}
	}
	.white-btn:visited{
		color: white;
	}
	@media(max-width: 991px){
		.title__container, .title__container h4, .title__container input{
			color: white;
			position: relative;
			z-index: 3;
		}
		.title__container input{
			border: 2px solid #fff;
		}
		.main{
			position: relative;
		}
		.main::after{
			content: "";
			bottom: 0;
			top: 0;
			left: 0;
			right: 0;
			position: absolute;
			background: rgba(0,0,0,0.4);
			z-index: 1;
		}
	}

	.Two{
		background: url(../img/3.jpg) center/cover no-repeat;
		height: 600px;

	}
	.Two h2{
		color: #000;
		-webkit-text-stroke: 1px #fff;
		font-style: oblique;
		font-weight: 400;
		font-size: 50px;
		line-height: 60px;
		-webkit-animation: Two 7s ease forwards;
		-o-animation: Two 7s ease forwards;
		animation: Two 7s ease forwards;



	}
	.Two p{
		font-size: 16px;
		color: #fff;
		padding-top: 65px;
		font-style: oblique;
		font-weight: 400;
		text-align: center;
		letter-spacing: 0.5px;	
		line-height: 20px;
		-webkit-animation: Twop 4.4s ease forwards;
		-o-animation: Twop 4.4s ease forwards;
		animation: Twop	4.4s ease forwards;
		opacity: 0;
	}

	.Two input{
		color: #fff;
		text-align: center;
		border: 4px solid #fff;
		background: none;
		border-radius: 10px;
		padding: 2px 20px;
		margin-top: 110px;
		font-size: 16px;
		transition: all 0.2s;
		transform: scale(1);
		-webkit-animation: th 6.4s ease forwards;
		-o-animation: th 6.4s ease forwards;
		animation: th 6.4s ease forwards;
		opacity: 0;

	}

	
	.Two input:hover{
		background: #fff;
		color: #000;	
	}
	.Two input:active{
		transform: scale(1.1);
	}

	@keyframes Two{
		from{
			opacity: 0;
			
		}
		to{
			opacity: 1;

		}
	}
	@keyframes Twop{
		from{
			opacity: 0;
			margin-left: -440px;	
		}
		to{
			opacity: 1;
			margin-left: 0px;			
		}
	}
	@keyframes th{
		from{
			opacity: 0;
			margin-right: -1110px;	
		}
		to{
			opacity: 1;
			margin-left: 0px;			
		}
	}
	.Two input:hover{
		background: #fff;
		color: #000;	
	}


	.Two p:nth-child(2){
		animation-delay: 2s;
	}
	.Three{
		background:url(../img/3.jpg) center/cover no-repeat;
		height: 700px;


	}
	.Three h3{

		color: #000;
		-webkit-text-stroke:1px #fff;
		font-size: 45px;
		font-style: oblique;
		font-weight: 400;
		line-height: 80px;

	}	
	
	

	.Three h4{
		color: #fff;
		font-size: 20px;
		font-style: oblique;
		

	}

	.Three p{
		font-size: 14px;
		color: #fff;
		text-align: center;
		line-height: 50px;
		
	}

	.web_scill{
		font-size: 14px;
		text-transform: uppercase;
		font-style: oblique;
		font-weight: 400;

	}
	.web_scill2{
		font-size: 14px;
		text-transform: uppercase;
		font-style: oblique;
		font-weight: 400;
	}
	.web_scill3{
		font-size: 14px;
		text-transform: uppercase;
		font-style: oblique;
		font-weight: 400;
	}
	.web_scill4{
		font-size: 14px;
		text-transform: uppercase;
		font-style: oblique;
		font-weight: 400;
	}

	
	.calculator{
	background: url(../img/3.jpg) center/cover no-repeat;
    padding-bottom: 84px;
    
}
.calculator_container{
    max-width: 1080px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    padding-top: 74px;
}

.calculator_container h2{
     text-align: center;
    max-width: 358px;
    color: #000;
			-webkit-text-stroke:1px #fff;
			font-size: 43px;
			font-style: oblique;
			font-weight: 400;
    margin: 0px auto 50px;
    
}
.calculator_inner{
    max-width: 890px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.calculator_inner h3{
    color: #000;
			-webkit-text-stroke:1px #fff;
			font-size: 29px;
			font-style: oblique;
			font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.calculator_inner select{
    margin-bottom: 44px;
}

.calculator_inner hr{
    height: 2px;
    border: none;
    background: #eee;
    width: 100%;
    margin: 0 auto 24px;
    opacity: 1;
    
}
.mySelect{
    display: block;
    width: 100%;
    max-width: 890px;
    height: 44px;
    background: #eeeeee;
    padding-left: 24px;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background:  url(../img/select.png) 98% 54%/auto no-repeat, #eee;
}

.days, .price{
    margin-bottom: 0px;
    font-size: 21px;
    color:#fff;
    
}
.calculator_footer p{
    margin-bottom: 0;
}
.calculator_footer .text{
    float: left;
}

.calculator_footer .digit{
    font-size: 29px;
    float: right;
}

.calculator_footer button{
    width: 200px;
}
/*
	.Five{
		background: url(../img/3.jpg) center/cover no-repeat;
		height: 600px;



	}
	.Five2{
		border: 5px solid 0;
		border-radius: 10px;
		
		animation-name: move;
		animation-duration: 3s;
		-webkit-animation-timing-function: linear;
		-o-animation-timing-function: linear;
		animation-timing-function: linear;
	}
	@keyframes move{
		from{
			margin-right: 0;}
			to{
				margin-right:300px;
			}
		}

		.Five h3{
			
			text-align: center;
			color: #000;
			-webkit-text-stroke:1px #fff;
			font-size: 45px;
			font-style: oblique;
			font-weight: 400;
			line-height: 90px;
		}
		.Five h3:hover{
			transform: rotateX(60deg);
		}
		.Strok h5 {
			color: #fff;
			font-style: oblique;
			font-weight: 400;
			text-align: left;
			line-height: 60px;
			font-size: 20px;

		}
		#list{
			width: 100%;
			height: 30px;
		}

		.Six h5{
			color: #fff;
			font-style: oblique;
			font-weight: 400;
			font-size: 24px;
			text-align: left;
			line-height: 30px;




		}
		.Six a{
			color: #fff;
			text-decoration: none;
			text-align: center;
			border: 4px solid #fff;
			margin-left: 600px;
			background: none;
			border-radius: 10px;
			padding: 4px 20px;
			line-height: 140px;
			font-size: 16px;

		}
		*/
		.Static{
			background:url(../img/3.jpg) center/cover no-repeat;
			height: 500px;
			padding-top: 20px;
			perspective: 1px;

			background-attachment:fixed;

		}
		.Static h3{
			color: #000;
			font-weight: 400;
			font-style: oblique;
			-webkit-text-stroke: 1px #fff; 
			font-size: 45px;
			line-height: 50px;
			
		}
		.Static h4{
			
			color: #fff;
			font-size: 18px;
			line-height: 50px;

		}
		.static1{
			line-height: 20px;
			color: #fff;
			font-weight: 400;
			font-style: oblique;
			font-size: 12px;
			text-transform: uppercase;

		}
		.static2{
			color: #fff;
			font-weight: 400;
			font-style: oblique;
			line-height: 20px;
			font-size: 12px;
			text-transform: uppercase;
		}
		.static3{
			color: #fff;
			font-weight: 400;
			font-style: oblique;
			line-height: 20px;
			font-size: 12px;
			text-transform: uppercase;
		}
		.static4{
			color: #fff;
			font-weight: 400;
			font-style: oblique;
			line-height: 20px;
			font-size: 12px;
			text-transform: uppercase;
		}

		.Seven{
			background: url(../img/3.jpg);
			height: 600px;

		}
		.Seven h3{
			color: #000;
			font-size: 45px;
			-webkit-text-stroke: 1px #fff;
			font-style: oblique;
			font-weight: 400;
			line-height: 60px;
			
			
		}
		.Seven p{
			
			font-size: 16px;
			color: #fff;
			text-align: center;
			letter-spacing: 0.5px;	
		}
		footer{
			background: url(../img/3.jpg);
			height: 1000px;


		}

		.Contate h2{
			color: #000;
			font-size: 45px;
			-webkit-text-stroke:1px #fff;
			font-style: oblique;
			font-weight: 400;
			height: 115px;
			line-height: 100px;
				
		}
		footer p{
			font-size: 16px;
			color: #fff;
			height: 40px;
			text-align: center;
			letter-spacing: 0.5px;	
			line-height: 40px;
		}

		footer a{
			color: #fff;
			font-size: 22px;
			text-decoration: none;



		}
		footer a:visited{
			color: white;
		}
		footer h3{
			padding-top: 50px;
			font-size: 20px;
			padding-left: 800px;
			color: #fff;

		}

		.inputOne{

			
			text-align: center;
			border:3px solid white;
			background: none;
			border-radius: 10px;
			font-size: 14px;
			color: #fff;
			padding: 15px 80px;
			margin: 0px 0px -55px 0px;
			

		}
		.inputTwo{
			
			text-align: center;
			border:3px solid white;
			background: none;
			border-radius: 10px;
			font-size: 14px;
			color: #fff;
			padding: 15px 80px;
			margin: 0px 0px 30px 410px;
			

		}
		textarea{
			font-size: 15px;
			text-align: center;
			border:4px solid red;
			background: none;	
			color: #fff;
			padding: 80px 250px;
			
		}
		.inputThree{
		
			border:3px solid white;
			background: none;
			border-radius: 10px;
			font-size: 14px;
			color: #fff;
			padding: 15px 80px;
			

		}
		.Work{
			display: block;
			max-width: 100%;
			height: 100%;
		}